@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* design system */
  .heading-1,
  .heading-2,
  .heading-3,
  .heading-4,
  .heading-5,
  .subheading-1,
  .subheading-2,
  .nav-text {
    @apply uppercase;
  }

  .heading-1 {
    @apply font-bellefair text-3xl font-normal;
  }

  .heading-2 {
    @apply font-bellefair text-2xl font-normal;
  }

  .heading-3 {
    @apply font-bellefair text-xl font-normal;
  }

  .heading-4 {
    @apply font-bellefair text-lg font-normal;
  }

  .heading-5 {
    @apply font-barlow text-md tracking-wide font-normal;
  }

  .subheading-1 {
    @apply font-bellefair text-md font-normal;
  }

  .subheading-2 {
    @apply font-barlow text-sm tracking-wide font-normal;
  }

  .nav-text {
    @apply font-barlow text-base tracking-wider;
  }

  .body {
    @apply font-barlow text-body;
  }
}

/* backgrounds images */

.bg-home,
.bg-destination {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.bg-crew,
.bg-tech {
  position: relative;
}

.bg-crew::before {
  background-image: url('./assets/crew/background-crew-mobile.jpg');
}
.bg-tech::before {
  background-image: url('./assets/technology/background-technology-mobile.jpg');
}

.bg-crew::before,
.bg-tech::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: screen;
}

.bg-home {
  background-image: url('./assets/home/background-home-mobile.jpg');
}

.bg-destination {
  background-image: url('./assets/destination/background-destination-mobile.jpg');
}

@media screen and (min-width: 768px) {
  .bg-home {
    background-image: url('./assets/home/background-home-tablet.jpg');
  }

  .bg-destination {
    background-image: url('./assets/destination/background-destination-tablet.jpg');
  }

  .bg-crew::before {
    background-image: url('./assets/crew/background-crew-tablet.jpg');
  }

  .bg-tech::before {
    background-image: url('./assets/technology/background-technology-tablet.jpg');
  }
}

@media screen and (min-width: 1280px) {
  .bg-home {
    background-image: url('./assets/home/background-home-desktop.jpg');
  }

  .bg-destination {
    background-image: url('./assets/destination/background-destination-desktop.jpg');
  }

  .bg-crew::before {
    background-image: url('./assets/crew/background-crew-desktop.jpg');
  }

  .bg-tech::before {
    background-image: url('./assets/technology/background-technology-desktop.jpg');
  }
}

/* Main button */
.button {
  background-color: #fff;
  color: #0b0d17;
  border-radius: 100%;
  padding-block: 119px;
  padding-inline: 63px;
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .button {
    position: relative;
  }

  .button::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    inset: 0;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }

  .button:hover::after {
    transform: scale(1.5);
    opacity: 0.1;
    z-index: 1;
    background-color: #fff;
    mix-blend-mode: normal;
  }

  .tab-txt {
    position: relative;
  }
  .tab-txt::after,
  .tab-txt::before {
    content: '';
    background-color: #d0d6f9;
    width: 0;
    bottom: 0;
    height: 3px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
  }
  .tab-txt::after {
    left: 50%;
  }
  .tab-txt::before {
    right: 50%;
  }
  .tab-txt:hover::before,
  .tab-txt:hover::after {
    width: 50%;
  }

  .link-active {
    border-bottom: 3px solid white;
  }
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.round-button {
  aspect-ratio: 3 / 1;
  border-radius: 100%;
  border: 1px solid rgba(236, 233, 233, 0.25);
}
.round-button:hover {
  border-color: rgba(236, 233, 233);
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  right: 0;
}

.active {
  background: white;
}

.active > span {
  color: #0b0d17;
}
