@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* design system */
  .heading-1 {
    @apply font-bellefair text-3xl font-normal;
  }

  .heading-2 {
    @apply font-bellefair text-2xl font-normal;
  }

  .heading-3 {
    @apply font-bellefair text-xl font-normal;
  }

  .heading-4 {
    @apply font-bellefair text-lg font-normal;
  }

  .heading-5 {
    @apply font-barlow text-md tracking-wide font-normal;
  }

  .subheading-1 {
    @apply font-bellefair text-md font-normal;
  }

  .subheading-2 {
    @apply font-barlow text-sm tracking-wide font-normal;
  }

  .nav-text {
    @apply font-barlow text-base tracking-wider;
  }

  .body {
    @apply font-barlow text-body;
  }
}

/* backgrounds images */

.bg-home,
.bg-destination {
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-home {
  background-image: url('./assets/home/background-home-mobile.jpg');
}

.bg-destination {
  background-image: url('./assets/destination/background-destination-mobile.jpg');
}

@media screen and (min-width: 768px) {
  .bg-home {
    background-image: url('./assets/home/background-home-tablet.jpg');
  }

  .bg-destination {
    background-image: url('./assets/destination/background-destination-tablet.jpg');
  }
}

@media screen and (min-width: 1280px) {
  .bg-home {
    background-image: url('./assets/home/background-home-desktop.jpg');
  }

  .bg-destination {
    background-image: url('./assets/destination/background-destination-desktop.jpg');
  }
}

/* Main button */
.button {
  background-color: #fff;
  color: #0b0d17;
  border-radius: 100%;
  padding-block: 119px;
  padding-inline: 63px;
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .button {
    position: relative;
  }

  .button::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    inset: 0;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }

  .button:hover::after {
    transform: scale(1.5);
    opacity: 0.1;
    z-index: 1;
    background-color: #fff;
    mix-blend-mode: normal;
  }
}
